/* SPDX-License-Identifier: Apache-2.0 */

/ {
	aliases {
		uart-can-can = &can_device;
		uart-can-uart = &usart_rs485;
	};

	chosen{
		zephyr,canbus = &can_loopback0;
		zephyr,console = &usart_console;

	};


	leds {
		compatible = "gpio-leds";
		status = "okay";
		indicator_led: indicator_led {
			label = "Indicator LED";
			gpios = <&gpio0 13 GPIO_ACTIVE_LOW>;
		};
	};

	usart_rs485: uart_fake {
		compatible = "zephyr,fake-serial";
		status = "okay";
	};
};

can_device: &can_loopback0 {
	status = "okay";
	bitrate = <250000>;
};

usart_console: &uart0 {
	status = "okay";
};


